<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/parand.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Italianno' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">A Cruel and Petty Dictator</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Parand Tony Darugar<br />
                  A Cruel and Petty Dictator<br />
                  p@{thisdomain}.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://twitter.com/parand/">twitter.com/parand</a><br />
                  <a href="http://linkedin.com/in/parand/">linkedin.com/in/parand</a><br />
                  <a href="http://github.com/darugar/">github.com/darugar</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

{% include ga.html %}

    </body>
</html>
