<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/parand.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Italianno' rel='stylesheet' type='text/css'>
    <title>{{ page.title }}</title>
</head>

<body>

<div class="container">
    <div class="row navigation">
        <div class="span3">
            <a href="/">Parand Tony Darugar</a>
        </div>
        <div class="span7">
            <span class="nav right"><a href="">About me</a></span>
            <span class="nav right"><a href="http://twitter.com/parand/">@parand</a></span>
            <span class="nav right">p@{thisdomain}.com</span>
            <!-- span class="nav right"><input type="text" class="input-medium search-query"></span -->
        </div>
    </div>

    <div class="row headerrow">
        <div class="span10 heading">{{ page.title }}</a></div>
        <!-- div class="span5 subheading text-right">A Cruel and Petty Dictator</div -->
    </div>

    <!-- CONTENT -->
    <div class="row content">
        <div class="span10">
{{ content }}
        </div>
    </div>

    <!-- div class="row contents">
        <div class="span12">
            <img class="img-polaroid" src="http://farm5.staticflickr.com/4148/5066965098_f73170bbf6_b.jpg">
        </div>
    </div>

    <div class="row ">
        <div class="span9 title">&raquo; Martin the Silly Rainbow</div>
        <div class="span3 title-details text-right">January 1st, 2013</div>
    </div>
    <div class="row ">
        <div class="span9 title">&raquo; If I Fell In Love With You</div>
        <div class="span3 title-details text-right">November 16th, 2013</div>
    </div -->

    <hr>
    <div class="row footer">
        <div class="span6">
            Parand Tony Darugar<br />
            A Cruel and Petty Dictator<br />
            p@{thisdomain}.com
        </div>
        <div class="span6 tright">
            <a href="http://twitter.com/parand/">twitter.com/parand</a><br />
            <a href="http://linkedin.com/in/parand/">linkedin.com/in/parand</a><br />
            <a href="http://github.com/darugar/">github.com/darugar</a><br />
        </div>
    </div>

    <div class="row">
        <div class="span12">&nbsp;</div>
    </div>

</div>

{% include ga.html %}

</body>

</html>
